In [46]:
import pandas as pd

df = pd.DataFrame({
    "Комнаты": [3, 1, 2, 3, 1, 3, 2, 1, 3, 1, 2],
    "Площадь": [51, 30, 45, 55, 45, 100, 71, 31, 53, 33, 43],
    "Этаж": [3, 1, 2, 1, 3, 3, 2, 2, 5, 3, 5],
    "Центр": [0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0],
    "Спальный1": [1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0],
    "Спальный2": [0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1],
    "Цена": [2200, 1600, 1900, 2000, 4500, 7000, 5000, 1700, 2100, 1500, 2000]
})

X = df[["Комнаты", "Площадь", "Этаж", "Центр", "Спальный1", "Спальный2"]]
y = df[["Цена"]]

df

    Комнаты  Площадь  Этаж  Центр  Спальный1  Спальный2  Цена
0         3       51     3      0          1          0  2200
1         1       30     1      0          1          0  1600
2         2       45     2      0          1          0  1900
3         3       55     1      0          1          0  2000
4         1       45     3      1          0          0  4500
5         3      100     3      1          0          0  7000
6         2       71     2      1          0          0  5000
7         1       31     2      0          0          1  1700
8         3       53     5      0          0          1  2100
9         1       33     3      0          0          1  1500
10        2       43     5      0          0          1  2000

# Задание 1

In [47]:
#ваш код

import numpy as np

def multiplication_order(A, B, C):
    # Определяем размеры матриц
    m, n = A.shape
    n, p = B.shape
    p, q = C.shape
    
    # Рассчитываем количество умножений для обоих порядков
    mul_AxB_C = m * n * p + m * p * q
    mul_A_BxC = n * p * q + m * n * q
    
    # Сравниваем количество умножений
    if mul_AxB_C <= mul_A_BxC:
        return "(AxB)xC"
    else:
        return "Ax(BxC)"

# Пример использования
A = np.array([[1, 2, 3], [4, 5, 6]])
B = np.array([[7, 8, 9, 10], [11, 12, 13, 14], [15, 16, 17, 18]])
C = np.array([[19, 20, 21, 22, 23], [24, 25, 26, 27, 28], [29, 30, 31, 32, 33], [34, 35, 36, 37, 38]])

result = multiplication_order(A, B, C)
print(result)  # Ожидаемый результат: "(AxB)xC"

(AxB)xC

# Задание 2

In [48]:
#ваш код


def best_worst(features, target):
    # Вычисляем матрицу корреляции
    corr_matrix = np.corrcoef(features, target, rowvar=False)
    # Выбираем последнюю строку (или столбец), которая содержит корреляции с целевой переменной Y
    corr_with_y = corr_matrix[:-1, -1]
    # Найдем индексы признаков с максимальным и минимальным абсолютным значением корреляции
    max_corr_idx = np.argmax(np.abs(corr_with_y))
    min_corr_idx = np.argmin(np.abs(corr_with_y))
    
    return max_corr_idx, min_corr_idx


best_worst(X, y)

(3, 2)

# Задание 3

In [49]:
def corr_rank(X):
    # Вычисляем матрицу корреляции
    corr_matrix = np.corrcoef(X, rowvar=False)
    # Вычисляем ранг матрицы корреляции
    rank = np.linalg.matrix_rank(corr_matrix)
    return rank

corr_rank(X)

5

# Задание 4

In [50]:
#ваш код


def inverse_matrix(A):
    # Вычисляем определитель матрицы
    det = np.linalg.det(A)
    # Проверяем, меньше ли абсолютное значение определителя 0.001
    if abs(det) < 0.001:
        return None
    # Вычисляем обратную матрицу
    inv_A = np.linalg.inv(A)
    
    return inv_A


A = np.array([[1, 1], [1, 1]])
result = inverse_matrix(A)
print(result)  # Ожидаемый результат: None

A = np.array([[1, 2], [2, 1]])
result = inverse_matrix(A)
print(result)  # Ожидаемый результат: array([[-0.33333333  0.66666667] [ 0.66666667 -0.33333333]])

None
[[-0.33333333  0.66666667]
 [ 0.66666667 -0.33333333]]

# Задание 5

In [51]:
#ваш код

def fit_model(X, y):
    # Получаем оцененные коэффициенты регрессии (OLS)
    return inverse_matrix(X.T @ X) @ X.T @ y 

w_hat = fit_model(X, y)
w_hat.values.flatten() # Ожидаемый результат [-574.12295766 65.33255763 141.80223878 1566.16246224 12.32450391 -315.34552489]

array([-574.12295766,   65.33255763,  141.80223878, 1566.16246224,
         12.32450391, -315.34552489])